.profiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Orbitron", sans-serif;
  color: #a67d4b;
}
.p {
  color: whitesmoke;
  font-family: "Exo 2", sans-serif;
}
.instructions {
  text-align: center;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 32px;
}
